.message {
    width: 575px;
    height: 77px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: 565px;
}

.imageAndText {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
}

.imageAndText img {
    width: 48px;
    height: 48px;
}

.text {
    width: 512px;
    height: 60px;
    background: #0066CC;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: #FFFFFF;
    border-radius: 5px 5px 0 5px;
}

.text:after {

}

.name {
    font-size: medium;
    font-weight: bold;
}

.messageText {

}

.time {
    width: 26px;
    height: 12px;
    font-size: 10px;
    padding-right: 37px;
}

.block {
    width: 0;
    height: 0;
    border-bottom: 10px solid #0066CC;
    border-right: 15px solid transparent;
}