.buttonsContainer {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.responseContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 100px;
    height: 400px;
    padding: 20px;
}

.imageContainer {
}

.image {
}

.textContainer{
}

.code {
    font-size: large;
    font-weight: bold;
    margin-bottom: 10px;
}

.text {
}
.info {
}