/*.loader {
    !*свг и/или анимация*!
    background-image: url("Ellipse 4.png");
    animation: spin 5s linear 0s infinite;
    width: 90px;
    height: 90px;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}*/