.App {
    --header_height: 60px;
    width: 1280px;
    height: 1770px;
    padding: 107px 70px;
    background-color: lavender;
}

.hw {
    height: 336px;
    padding-top: 24px;
    border-bottom-width: medium;
    border-bottom-color: cornflowerblue;
    border-bottom-style: solid;
}

.hwTitle {
    border-bottom-width: medium;
    border-bottom-color: cornflowerblue;
    border-bottom-style: solid;
}

.messages {
    display: flex;
    flex-direction: column;
    align-items: center;
}