.App {
    --header_height: 60px;
}

.hw {
    min-height: 336px;
    padding: 24px 70px 39px 70px;
    border-bottom-width: medium;
    border-bottom-color: cornflowerblue;
    border-bottom-style: solid;
}

.hwTitle {
    border-bottom-width: medium;
    border-bottom-color: cornflowerblue;
    border-bottom-style: solid;
    height: 37px;
    font-size: 22px;
    margin-top: 20px;
    padding-left: 70px;
}