.friendMessage {
    width: 462px;
    height: 77px;
    margin-top: 30px;
}

.friendImageAndText {
    display: flex;
    align-items: flex-end;
}

.friendImageAndText img {
    width: 48px;
    height: 48px;
}

.friendText {
    width: 399px;
    height: 60px;
    background: #F5F7FB;
    padding: 10px;
    border-radius: 5px 5px 5px 0;
}

.friendText:after {

}

.friendName {
    font-size: medium;
    font-weight: bold;
    margin-bottom: 3px;
}

.friendMessageText {

}

.friendTime {
    width: 26px;
    height: 12px;
    font-size: 10px;
    padding-left: 10px;
}

.block {
    width: 0;
    height: 0;
    border-bottom: 10px solid #F5F7FB;
    border-left: 15px solid transparent;
    position: relative;
}
