.greetingForm {
}

.inputAndButtonContainer {
    display: flex;
}

.error {
    color: red;
    margin: 7px 0;
}

.input {
    width: 372px;
    height: 36px;
    margin-right: 12px;
    border: 1px solid;
    border-radius: 3px;
    font-size: 16px;
    padding: 8px 12px;
    outline: none;
}

.input:focus {
}

.errorInput {
    border: red 1px solid;
}

.button {
    width: 78px;
    height: 36px;
    background: #0066CC;
    border-radius: 3px;
    font-size: 14px;
    color: #FFFFFF;
    border: none;
}

.button:focus {
}

.button:active {
}

.button:disabled {
    opacity: 0.5;
}

.text {
    width: 143px;
    height: 17px;
    font-size: 14px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 9px;
}

.greeting {
}
