.sendForm {
    display: flex;
    align-items: center;
    margin-top: 56px;
}

.textarea {
    width: 976px;
    background: #F5F7FB;
    border-radius: 20px;
    resize: none;
    overflow: hidden;
    outline: none;
    padding: 12.5px 20px;
}

.button {
    width: 120px;
    height: 40px;
    background: #0066CC;
    border-radius: 20px;
    color: #FFFFFF;
    margin-left: 44px;
    border-color: #0066CC;
}

.button:hover {

}

.button:active {

}